@{
    ViewBag.Title = "Contact";
}

@*PAGE HEADER*@
<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Contact Us</h1>
                <p>
                    Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                </p>
            </div>
        </div>
    </div>
</header>

@*CONTACT SECTION*@
<section id="contact" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">
                        <h4>Get In Touch</h4>
                        <p>
                            Varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu.
                        </p>
                        <h4>Address</h4>
                        <p>550 Main St, Boston MA</p>
                        <h4>Email</h4>
                        <p>test@test.com</p>
                        <h4>Phone</h4>
                        <p>(555) 555-5555</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card p-4">
                    <div class="card-body">
                        <h3 class="text-center">
                            Please fill out this form to Contact Us
                        </h3>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="First Name" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Last Name" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Email" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" placeholder="Phone Number" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea placeholder="Message" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="btn btn-outline-danger btn-block" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*STAFF*@
<section id="staff" class="py-5 text-center bg-dark text-white">
    <div class="container">
        <h1>Our Staff</h1>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/person1.jpg" alt="" class="img-fluid rounded-circle mb-2" />
                <h4>Jane Doe</h4>
                <small>Marketing Manager</small>
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/person2.jpg" alt="" class="img-fluid rounded-circle mb-2" />
                <h4>Sarah Williams</h4>
                <small>Business Manager</small>
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/person3.jpg" alt="" class="img-fluid rounded-circle mb-2" />
                <h4>John Doe</h4>
                <small>CEO</small>
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/person4.jpg" alt="" class="img-fluid rounded-circle mb-2" />
                <h4>Steve Smith</h4>
                <small>Web Developer</small>
            </div>
        </div>
    </div>
</section>